<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .error-box {
      max-width: 600px;
      margin: 4rem auto;
      padding: 2rem;
      background: #f8d7da;
      border-radius: 10px;
      border: 1px solid #721c24;
      color: #721c24;
      text-align: center;
    }
  </style>
</head>
<body>


  <main>
    <div class="error-box">
      <h1><%= title %></h1>
      <p><%= message %></p>
    </div>
  </main>
</body>
</html>
